@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1590248980531'); /* IE9 */
  src: url('iconfont.eot?t=1590248980531#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABnAAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gQQBNgIkAwgLBgAEIAWEbQcwG6oFEQWMyX4mZHLp7IYMV/ZUV8Sl34Sq8Uw8PK6V7yfZvRQYFKMCRA84J1sWsmwUG4uSdfX0AwUzvi7QMH63NR3DvVERqkv2PPUs/yP/uyMN6zxOoxRCIiQ+ce/0r4ACme+8iyzTtTdN6gKMAymwPTGKrEgibxi7wCU8JtDXRPPFpi1b96oKa1Ugrl66cErNRRSF5avQrTlYxDMdNd1P4Wn4/fhnQVSSTmY17Ty/+ax1P7GLctM2jvqEKAEd7yBjPgqxtzazXRaMnfXNFFPZV33wk7b1bWKvZsH+Oqu2PxgPJfckdWW3KpxAYTzTMWdUkNzfmn9r4NsPvR/78fB98+5gKm7WoDfTFqVrzfOFSxeOa8b5zrHLb6vOJQufw4qNSza6toES+DvWgbbNvWmB4E+fv5xg1f/ar4AvXzAMtW3Rz0fdqzf4O9KefUWXW9ZUVGltIZkun7Wlr75o4cBQP8YaRtxKIVQjbsjXY0LqyqouhWRhzUdHP4vQVa3F2dc8w/F+hiF7UfpgrjdAGOyDZKCPyAb7koX1Q8dIf3QNjj362h/DLuxnZgSxkVAyGlAvCHoarWNnEdUf0d2ypKw85FyR1hCHtmqK+QFHpDm2rHfXMVuwNBU4gOcw5wlmmiJqrjzz3Ne1rXtTpaeyETYiSGLIAMoLCLTJyPrDmSh9/gg5N5lELT010StEVmFy0Ko0PchBM/bquZdXVndOhzELWGRSgAOYh7JsAub6eRHSWMWPSM16tT3I9tVU6+vK1x2BvixjCntW1j0jg5HjZgMAAAA=') format('woff2'),
  url('iconfont.woff?t=1590248980531') format('woff'),
  url('iconfont.ttf?t=1590248980531') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1590248980531#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e605";
}

